{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Welcome {{ user.username }}</h1>
Hello! There are currently {{ ngames }} games active.
<p>
    Your active games are :
<ul>
    {% for g in games %}
    <li>Game {{ g.id }} : {{ g.first_player}} vs {{ g.second_player }}</li>
    {% endfor %}
</ul>
</p>
<p>
    Your games which resulted in a draw are :
<ul>
    {% for g in drew_games %}
    <li>Game {{ g.id }} : {{ g.first_player }} vs {{ g.second_player }}</li>
    {% endfor %}
</ul>
</p>
{% endblock %}
